@import '../../styles/variables.module.scss';

.form {
  margin-top: 20px;
  padding: 30px;
  border: solid 1px $color-light-gray;
  border-radius: 5px;
  max-width: 600px;
  width: 100%;

  &__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;

    @media (max-width: 576px) {
      display: block;
    }
  }

  &__input {
    width: 100%;
    max-width: 350px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: $color-black;
    border: none;
    border-bottom: 1px solid $color-main;
    padding: 5px 10px;
    background-color: #f1f2f5;
    background-clip: padding-box;
    outline: none;
    transition: background-color $transition;

    &::placeholder {
      color: $color-second;
      opacity: 0.4;
    }

    &:hover {
      background-color: $color-dark;
    }

    &:focus {
      background-color: $color-dark;
      border-bottom: 2px solid $color-green;
      outline: none;
    }

    @media (max-width: 576px) {
      max-width: unset;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  &__error {
    display: inline-block;
    margin-top: 10px;
    color: $color-red;
  }
}
