// color
$color-main: #00afb7;
$color-main-second: #c4ec8e;
$color-second: #3f5e95;
$color-black: #000;
$color-white: #fff;
$color-green: #5fa55a;
$color-red: #fa5457;
$color-grey-light: #9e9c9e;

// another
$transition: 0.3s;
$hover: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), linear-gradient(90deg, #c4ec8e, #00afb7, #3f5e95);
$active: linear-gradient(0deg, rgba(196, 236, 142), rgba(0, 175, 183), rgba(63, 94, 149));

// btn
$active-btn: #c4ec8e;
$hover-btn: #00afb7;

// background
$bg-gray: #e3e3e3;
$bg-whitesmoke: #f5f5f5;
$bg-pink: linear-gradient(90deg, #c4ec8e, #00afb7, #3f5e95);
