// color
$color-main: #3cb371;
$color-light-gray: #d3d3d3;
$color-second: #2ea36e;
$color-white: #fff;
$color-red: red;
$color-green: #168b48;
$color-black: #000;
$color-dark: #5a5a5a3b;
$border-input: #0000006b;

// another
$transition: 0.3s;
$hover: 0.7;
